/* Basic Reset */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

/* Header and Footer */
header, footer {
    color: #ffffff;
    background-color: #198754;
}

/* div {
    display: flex;
    justify-content: center;
} */


header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 40px;
    font-weight: 700;
}
header img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}


footer {
    margin-top: auto;
    width: 100%;
}

/* Main Content */
.container {
    flex: 1; /* Allows container to expand and fill available space */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box; /* Include padding in the box's dimensions */
}

form {
    width: 90%; /* Use 90% of the container width */
    max-width: 800px; /* Maximum width to prevent overly wide forms on large screens */
    margin: 0 auto; /* Center form horizontally */
}

/* Add padding to labels */
label:not([for="radio-lab"]):not([for="ref-lab"]) {
    display: block;
    margin-top: 15px; /* Add padding only above the label */
}

/* Add padding below the radio buttons */
input[type="radio"] {
    margin-top: 10px;
}
button {
    margin-bottom:30px
}

#spinner {
    display: none; /* Initially hide the spinner */
}
