/* Reset some basic elements */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* Simple grid to center content vertically and horizontally */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use at least the full height of the viewport */
    padding: 40px; /* Added padding around the entire container */
    box-sizing: border-box; /* Ensures padding is included in the height/width calculations */
    flex-direction: column; /* Stack children vertically */
}

/* Styling for the header and footer to keep them at the top and bottom */
header, footer {
    width: 100%;
    color: #ffffff;
    background-color: #2B9348;
    box-sizing: border-box; /* Ensures padding is included in the height/width calculations */
}
header {
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}
footer {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}


/* Additional styling for aesthetic purposes */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Dark grey text */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the viewport height */
}

/* Style adjustments for form elements for better appearance */
input[type="text"], input[type="password"], input[type="email"], select, button {
    padding: 10px;
    margin: 10px; /* Adjusted for spacing around elements */
    border-radius: 5px;
    border: 1px solid #ddd; /* Light grey border */
    width: calc(100% - 30px); /* Adjust width to account for padding and border, ensuring there's padding on the sides */
    box-sizing: border-box; /* Ensure padding and border are included in the width calculation */
}

/* Minor adjustments for better form spacing */
form {
    margin: 20px auto; /* Center form in the available space, with top and bottom margins */
    width: 90%; /* Set a max width for the form */
    max-width: 800px; /* Maximum width of form elements for larger screens */
}
