{% extends "base.html" %}

{% block title %}Home - Waqq.ly{% endblock %}

{% block content %}
<main>
    <br>
    <div class="col-3 mx-auto btn-group" role="group">
        <button type="button" class="btn btn-success" id="sign-out-btn">Sign Out</button>
        {% if type == "admin" %}
        <a class="btn btn-primary" id="docs-btn" href="/docs">API Docs</a>
        {% endif %}
    </div><br><br>
    <h1>Welcome, {{ username }}!</h1>
    <p>Account type: {{ type }}</p>
    <section>
        <h2>Registered Dogs</h2>
        <ul>
            {% for dog in dogs %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Owner</th>
                          <th scope="col">Name</th>
                          <th scope="col">Breed</th>
                          <th scope="col">Age</th>
                        </tr>
                    </thead>
                </table>
            {% else %}
            <p>No dogs registered yet.</p>
            {% endfor %}
        </ul>
    </section>
    
    <section>
        <h2>Registered Dog Walkers</h2>
        <ul>
            {% for walker in walkers %}
            <table class="table table-striped">
                    <thead>
                        <tr>
                          <th scope="col">First Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col">Age</th>
                        </tr>
                    </thead>
                </table>
            {% else %}
            <p>No dog walkers registered yet.</p>
            {% endfor %}
        </ul>
    </section>
</main>
<script src="/static/js/signOut.js"></script>
{% endblock %}
